@model  WebApplication13.Models.CosRepresantative

@{
    ViewData["Title"] = "Details";
    int a = 0;
}
<!doctype html>
<html lang="en">
<head ruanat="server">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/add66288fd.js" crossorigin="anonymous"></script>
</head>

<h1>Details</h1>

<div>
    <h4>CusRepResantative</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartmentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartmentId)
        </dd>
     
        <p> This Represantative's Costumers ;</p>
             <dt class="col-sm-2">
            <ol>
              
           
            @foreach (var item in Model.Customers)
                {
                    a++;

                    <li>@item.FirstName @item.LastName</li>
            }
            </ol>
        </dt>
        
      
    </dl>

</div>
<h5 class="col-sm-10" style="background-color:powderblue;">
    Total Customer count is that : @a
</h5>
</>

<div>
    <a asp-action="Index"> <i class="fa-solid fa-backward"></i>&nbsp;Back to the Table </a> &nbsp;&nbsp;|&nbsp;&nbsp;
    <a asp-action="Edit" asp-route-id="@Model?.CosRepresantativeId">  <i class="fa-regular fa-pen-to-square"></i> &nbsp;Edit</a>
</div>
</html>
